.navbar {
    background-color: white;
}

.navbar-toggler {
    float: left;
}

#anchor-navs .nav-link {
    color: rgb(98,124,150);
}

.nav-link {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    font-size: large;
}

/* Hidden to be shown when something is added to the basket. Done with JS
.basket {
    visibility: hidden;
} */

.basket {
    margin-right: 15px;
}

a:hover {
    color: #0C2C42 !important;
    text-decoration: underline;
}



