body, html {
    height: 100%;
}

html > body {
    font-family: 'Roboto', sans-serif;
}


.navbar-toggler {
    float: left;
}

#anchor-navs .nav-link {
    color: #669999;
}

.nav-link {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    font-size: x-large;
}

a:hover {
    color: #E6F4F1 !important;
    text-decoration: underline;
}


/*Credit for Hero image to adam dehaven at Github: https://gist.github.com/adamdehaven/dceabb07450295fec6fc*/
.bgimage {
    width:100%;
    height:70%;
    background: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  

  .hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E6F4F1;
    font-family: "Akaya Telivigala", cursive;
  }

  .hero-description {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #669999;
    font-weight: bold;
    border: groove 3px #E6F4F1;   
  }

  .row > .hero-description {
    width: fit-content;
    background-color: #E6F4F1;
}

